.App {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.control_elems {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.todo {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.todo_items {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
}

.todo_items_cross {
  cursor: pointer;
  color: red;
}

input:checked + .todo_items_todoItem {
  text-decoration: line-through;
}